.profile__info_name {
  display: block;
  width: 100%;
  margin: 0;
  line-height: 1.14;
  font-size: 42px;
  font-weight: 500;
  word-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .profile__info_name {
    justify-self: center;
    line-height: 1.21;
    font-size: 27px;
    text-align: center;
  }
}
