.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: #000;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 16px;
  stroke: 1px;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 100%;
    margin: auto 0 0;
    background-size: 6% 25%;
  }
}
