.elements {
  box-sizing: border-box;
  list-style-type: none;
  min-height: 744px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}

@media screen and (max-width: 1140px) {
  .elements {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: 100%;
    gap: 20px;
  }
}
